{% extends "template.html" %}
{% block header_title %}This is how to find me{% endblock %}
{% block content %}
<div class="card">
    <img src="static/head.jpg" alt="Erika" style="width:100%">
    <h1><b>Erika Forslöf</b></h1>
    <p class="title"><i>Senior Site Reliability Engineer</br> & Team Lead</i></p>
    <p>Right now working on improving my programming capabilities to become more efficient with automation while learning more about the full stack.</p>
    <div class="links">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <a href="https://twitter.com/ErikaForslof"><i class="fa fa-twitter" style="color:#111; font-size:22px;"></i></a>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="https://www.instagram.com/ladyzolor/"><i class="fa fa-instagram" style="color:#111; font-size:22px;"></i></a>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="https://www.linkedin.com/in/erikaforslof/"><i class="fa fa-linkedin" style="color:#111; font-size:22px;"></i></a>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="https://github.com/Zolor"><i class="fa fa-github" style="color:#111; font-size:22px;"></i></a>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
