<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="icon" href="{{url_for('static',filename='owl_favicon.png')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Erika's Homepage</title>
    {% endblock %}
  </head>
    <body>
        <div id="main">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>I am Erika Forslöf</h1>
                    <p>{% block header_title %}This is my homepage 2.1{% endblock %}</p>
                </div>
            </div>
            <div class="topnav">
                <a href="{{ url_for('cv') }}" {% if request.path == '/cv' %} class="btn active" {% else %} class="btn" {% endif %}>CV</a>
                <a href="{{ url_for('projects') }}" {% if request.path == '/projects' %} class="btn active" {% else %} class="btn" {% endif %}>Projects</a>
                <a href="{{ url_for('contact') }}" {% if request.path == '/contact' %} class="btn active" {% else %} class="btn" {% endif %}>Contact</a>
            </div>
            <div class="content">
                {% block content%}
                {% endblock%}
            </div>
            <div class="footer">
                <div class="footer-text">
                    Header photo by <a href="https://unsplash.com/@markusspiske">Markus Spiske</a> on <a href="https://unsplash.com/">Unsplash</a> || &copy; Copyright 2020
                </div>
            </div>
        </div>
    </body>
</html>